<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>shoe store</title>
  </head>
  <body>
    <div class="container">

      <h1>Stores</h1>

      {% if stores is not empty %}
      <p>Here are the shoe stores:</p>
      <ul>
        {% for store in stores %}
        <li><a href="/stores/{{ store.getId }}">{{ store.getStoreName }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <form action='/stores' method='post'>
        <label for='store_name'>Store Name </label>
        <input id='store_name' name='store_name' type='text' required>
        <label for='address'>Store address </label>
        <input id='address' name='address' type='text' required>

        <button type='submit' class="bttn">Add store</button>
      </form>
      <form action='/delete_stores' method='post'>
        <button type='submit' class="bttn">Clear</button>
      </form>

      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
