body {
  background-image: url("../images/shoe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px black;

}
textarea:focus, input:focus{
  color: black;
}

.bttn {
  background-color: pink;
}

li {
  list-style: none;
}
